%object
  %param{:name => "movie", :height => "20", :width => "100%", :value => @player_value}
  %param{:name => "allowscriptaccess", :value => "always"}
  %embed{:allowscriptaccess => "always", :height => "20", :width => "100%", :src => @player_value, :type => "application/x-shockwave-flash"}

